

.privacy-container {
  width: 80%;
  margin: 90px auto;
  /* padding: 20px; */
  font-family: Arial, sans-serif;
}

h1, h2, h3, p, ul, li, section {
  text-align: start; /* Ensures all text aligns from the start */
  /* color:'black !important', */
  color: black; 

}
