@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Delius&family=Fira+Code:wght@300..700&display=swap');
*{
  font-family: "Cabin", serif;
  font-weight: 400;
  font-style: normal;
}

.step-over-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 60vh;

    background-color: #f8f9fa;
  }
  .step:hover {
    transform: scale(2.15);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .steps {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
  }
  
  .step {
    width: 290px;
    height: 240px;
    margin: 10px;
    background-color: #2563eb;
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    transform-origin: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  
  
  .step .icon {
    font-size: 70px;
  }
  
  .step .title {
    font-size: 18px;
    font-family: "Delius", serif;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .step .description {
    font-size: 14px;
    font-family: "Delius", serif;
  }
  
  .divider {
    width: 40px;
    height: 4px;
    background-color: #2563eb;
    position: relative;
    z-index: 0;
    margin: 0 -20px;
  }
 
  
  @media (max-width: 1000px) {
    .step-over-container{
      height: 160vh;
    }
    .steps {
      flex-direction: column; /* Stack steps vertically */
      align-items: center;
    }
  
    .step:hover {
      transform: scale(2.15);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
    .step {
      transform: none;
      margin-top: 130px; /* Add spacing between steps */
    }
  
    .step:first-child {
      margin-top: 0; /* Remove margin from the first step */
    }
  
    .divider {
      width: 4px; /* Vertical divider */
      height: 40px;
      margin: -20px 0;
    }
  }
  