.custom-search .ant-input {
    height: 80px; /* Daxili input hündürlüyü */
    font-size: 29px; /* Yazı ölçüsü */
    border-radius: 30px;
  }
  
  .custom-search .ant-btn {
    height: 80px; /* Axtarış düyməsinin hündürlüyü */
    font-size: 29px; /* Düymə yazı ölçüsü */
    border-radius: 30px;
    background-color: #F9F9F9;
    border:'1px solid black'
  }
  